.sidebar {
  background-color: #102D40;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;

  .link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      color: #f0e741;
    }
  }

  .activeLink {
    background-color: #f0e741;
    color: #102D40;
    font-weight: bold;
  }
}


.userInfo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userIcon {
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.userDetails {
  display: flex;
  flex-direction: column;
}

.userName {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.userRole {
  font-size: 12px;
  color: #666;
}

.logoutSection {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: center;
}

.logoutSection button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.logoutSection button:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  .sidebar {
    flex: 0 0 200px;
  }
}

@media (max-width: 480px) {
  .app-layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex: none;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}
