.demandListContainer {
  border-radius: 0.5rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.demandTable {
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;

  th {
    background-color: var(--color-blue);
    color: #ffffff;
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
  }

  td {
    padding: 1rem;
    border-bottom: 1px solid #e5e7eb;
    font-size: 0.9rem;

    button {
      font-weight: bold;
      cursor: pointer;
    }
  }

  tr {
    font-weight: 600;
    transition: background-color 0.3s ease, font-weight 0.3s ease, color 0.3s ease;
  }

  tr:hover {
    background-color: var(--color-light-gray);
    color: #ffffff !important;
  }
}

.editButton,
.deleteButton {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;

  &.editButton {
    background-color: var(--color-green);
    color: #ffffff;

    &:hover {
      background-color: #52a620; /* Um verde mais escuro */
    }
  }

  &.deleteButton {
    background-color: var(--color-orange);
    color: #ffffff;
    margin-left: 0.5rem;

    &:hover {
      background-color: #d1513c; /* Um tom de laranja mais escuro */
    }
  }
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-light-gray); // Usando cor de fundo para destacar a paginação
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.paginationItem {
  list-style: none;
  margin: 0 0.25rem;
}

.paginationLink {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--color-navy);
  background-color: var(--color-blue);
  border-radius: 0.375rem;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    background-color: var(--color-green);
    color: #ffffff;
    transform: scale(1.05);
  }
}

.paginationActive .paginationLink {
  background-color: var(--color-navy);
  color: #ffffff;
  font-weight: bold;
}

.paginationPrev,
.paginationNext {
  background-color: var(--color-navy);
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  margin: 0 0.5rem;
  transition: background-color 0.3s ease-in-out, transform 0.2s;

  &:hover {
    background-color: #ff5a3d;
    transform: translateY(-2px);
  }
}
