.content-login {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
}

.content-login .absolute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
}

.content-login .p-8 {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 400px;
}