.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: #0F1E42; /* Fundo escuro, representando a noite urbana */
}

.cityscape {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background: url('./cityscape.svg') repeat-x; /* Imagem de silhueta urbana */
  background-size: auto;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(240, 231, 65, 0.8);
  box-shadow: 0 0 10px rgba(255, 118, 79, 0.5);
  width: 10px;
  height: 10px;
  animation: shootingStar 5s ease-in-out infinite;
  animation-delay: calc(-5s * var(--i));
}

@keyframes shootingStar {
  0% {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
  80% {
    transform: translateX(50px) translateY(50px);
    opacity: 0.7;
  }
  100% {
    transform: translateX(100px) translateY(100px);
    opacity: 0;
  }
}
